.top-nav{
    margin: auto; 
    text-align: left; 
    width: 100%; 
    border: 2px solid #f3ce75;  
    border-radius: 5px; 
    padding: 4px;
    max-width: 1024px;
}
.calc-area{
    margin: auto;
    width: 75%;
    background-color: #18244A; 
    border: solid 2px #ff2975; 
    border-radius: 16px;
    transition: transform 250ms;
    max-width: 600px;
}
.calc-area:hover{
    background-color: #13477d; 
    transform: scale(1.05);
    border: solid 3px #ff2975; 
}

.resultado{
   padding-top: 5px;
   font-size: 1.20em;
}
.cotage{
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    margin: auto;
    max-width: 600px;
    text-align: center;
    display: box;
}
.basic-grid {
    margin: auto;
    max-width: 600px;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
 }
 .btn {
    transition: transform 250ms;
 }
 .btn:hover {
    transform: scale(1.08);
 }
 .inconf{
  color: firebrick;
 }
  input {
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  font-size: 16px;
  display: inline-block;
  color: white;
  transition-duration: 0.25s;
  font-weight: 300;
}
input:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
input:focus {
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid rgba(255, 41, 117, 0.5);    
}